.navbar {
    background-color: #004b23;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  }
  
  .navbar .navbar-nav .nav-link {
    color: #FFC72C;
    font-family: 'Cerebri Sans', sans-serif;                                              
  }

  .navbar-toggler {
    color:#004b23;
    border-color: transparent;
  }

  .navbar-toggler:hover {
    border-color:#004b23;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffc72c' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .btn {
    background-color: #FFC72C;
    color:#004b23;
    font-family: 'Cerebri sans', sans-serif;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    margin: 30px;
  }

  .btn:hover {
    background-color: #004b23;
    color: #FFC72C;
    transform: scale(1.1);
  }